<form action="@Url.Action("Autenticar")" method="post">
    
    <label for="login">Login:</label>
    <input id="login" name="login" type="text" class="form-control" />

    <label for="senha">Senha:</label>
    <input id="senha" name="senha" type="password" class="form-control" />

    @Html.ValidationMessage("login.Invalido")

    <input type="submit" value="Autenticar" />
</form>