@model IList<Financas.Presentation.Models.UsuarioModel>

@Html.ActionLink("Novo Usuario", "Form")

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nome</td>
                <td>@usuario.Email</td>
            </tr>
        }
    </tbody>
</table>
